.div-centrado{
    width: 500px;
    margin: auto;
}

h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}