.div-centrado{
    width: 500px;
    margin: auto;
}

h2{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}